<section id='contact' class="section_contact">
  <h1>CONTACTO</h1>

  <div class="contact_grid">
    <div class="right">
      <div class="icon">
        <img class="fb" src="../../assets/facebook-icon.png">
        <h3>facebook.com/mato</h3>
      </div>
      <div class="icon">
        <img src="../../assets/instagram-icon.png">
        <h3>@mato.mob</h3>
      </div>
      <div class="icon">
        <img src="../../assets/whatsapp-icon.png">
        <h3>(+598) 98123123</h3>
      </div>
    </div>
    <div class="bg">
      <img src="../../assets/mato2.png">
    </div>
    <div class="left">
      <div class="icon">
        <img src="../../assets/youtube-icon.png">
        <h3>youtube.com/mato</h3>
      </div>
      <div class="icon">
        <img src="../../assets/spotify-icon.png">
        <h3>spotify.com/mato</h3>
      </div>
    </div>
  </div>

</section>
