
<section id='home' class="section_home">
  <div class="bg">
    <img class="image_smoke" src="../../assets/bg-1.png">
    <img class="image" src="../../assets/mato1.png" >
  </div>
  <div class="text">
    <h1>MATO</h1>
    <div class="">
      <p>
        Mato es un proyecto musical que explora y fusiona diferentes géneros donde,
        Mathias Seco, quien se encarga de la lírica, expresa a través de un fraseo
        y un estilo más rapero , sus diferentes vivencias y puntos de vista.
        Mato como a.k.a, como concepto, como músico nace a través de varios años
        de  pertenecer a diferentes proyectos músicales como FAP (Falta Armar Pogo),
        Australia Feroz y Eso e' Candombe(Premio Grafiti 2020).
        Así fue como que de estos proyectos previos nacieron las ganas de crear
        un proyecto propio.
        Al hoy conocemos como Mato ✌️
      </p>
    </div>
  </div>
</section>
