/* You can add global styles to this file, and also import other style files */
body {
  background: rgb(1,0,60);
  background: linear-gradient(90deg, rgba(1,0,43,1) 0%, rgba(0,0,0,1) 100%);
  //background-image: url(../src/assets/bg-texture2.png);
  //background-size: 10px 10px;
  color: #ffff;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
